@charset "utf-8";
#calendar_wrap{
    margin: 100px auto;
    background: #333;
    width: 315px;
}
caption{
    font-size: 1.5em;
    color: orange;
    padding: 10px;
}
table, th, td{
    color: #fff;
    border: 1px solid #666;
    border-collapse: collapse;
}
th, td{
    width: 30px;
    padding: 10px;
}
th:nth-child(1), td:nth-child(1){
    color: red;
}
#prev, #next{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 5px;
}





















































































































































































































